/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: 'Inter-Variable', Arial, Helvetica, sans-serif;
  --main-font-text-weight: 410;
  --main-font-title-weight: 715;
  --accent-font: 'PressStart2P', Arial, Helvetica, sans-serif;
  --gradient-bg-horizontal: repeating-linear-gradient(to right, #d3d3d3 0px 2px, transparent 2px 4px);
  --gradient-bg-vertical: repeating-linear-gradient(to bottom, #d3d3d3 0px 2px, transparent 2px 4px);
  --gradient-bg-saturation: linear-gradient(to bottom, #e7e7e7, #1a1a1a);
  --clamped-inline-size: clamp(375px, 50vw, 700px);
  --main-color: #fff;
  --accent-color: #000;
  --contour-color: #000;
  --animation-fill-color: #ff0000;
}